/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #18191a;
}
i {
  font-size: 16px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* End Global Rules */

/* Start Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #242526;
  border-bottom: 1px solid #3a3b3c;
  padding: 0 10px;
  position: sticky;
  width: 100%;
  height: 50px;
}
section {
  display: flex;
  align-items: center;
}
.navbar .left-section {
  justify-content: flex-start;
  flex: 3;
  gap: 8px;
}
.left-section .profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #3a3b3c;
  cursor: pointer;
}
.left-section i {
  color: #ccc;
  cursor: pointer;
  background-color: #3a3b3c;
  padding: 10px;
  border-radius: 50%;
}
.middle-section {
  height: 100%;
  margin: 0 2px;
  flex: 6;
}
.middle-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 100%;
  cursor: pointer;
  width: 20%;
}
.middle-section div:hover {
  background-color: #3a3b3c;
}
.middle-section div i {
  color: #b0b3b8;
}
.right-section {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  flex: 3;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: #3a3b3c;
  padding: 5px 10px;
  border-radius: 20px;
}
.search-input {
  border: none;
  background: none;
  color: #e4e6eb;
  outline: none;
  width: 150px;
  margin-right: 10px;
}
.search-input::placeholder {
  color: #b0b3b8;
}
.fb-logo {
  width: 60px;
  cursor: pointer;
}
.middle-section div:hover i,
.left-section i:hover {
  color: #2d88ff;
  transition: 0.3s ease-in-out;
}
/* End Navbar */

/* General content styling */
.content {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  gap: 10px;
  padding-top: 10px;
  color: #e4e6eb;
  background-color: #18191a;
  max-width: 1320px;
  margin: 0 auto;
}

/* Start Left Sidebar */
.left-sidebar {
  padding: 10px;
  border-radius: 8px;
  color: #b0b3b8;
}
.sidebar-header,
.group-chat span,
h4 {
  margin-bottom: 10px;
  font-weight: bold;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
}
.left-sidebar hr {
  border: none;
  height: 1px;
  background-color: #3a3b3c;
  margin: 10px 0;
}
.mb-20 {
  margin-bottom: 20px;
}
.friend-requests .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friend-requests .request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e4e6eb;
}
.friend-requests .request .request-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.friend-requests .request .request-info span {
  margin-left: 5px;
}
.friend-requests a {
  float: right;
  color: #2d88ff;
  text-decoration: none;
  font-size: 14px;
}
.profile-pic,
.contact-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.request-buttons {
  display: flex;
  gap: 5px;
}
.confirm,
.delete {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}
.confirm {
  background-color: #2d88ff;
  color: #fff;
}
.delete {
  background-color: #3a3b3c;
  color: #e4e6eb;
}
.birthday-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.birthday-icon {
  font-size: 18px;
}
.contacts .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.contacts .section-title div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contacts .section-title div p {
  font-weight: bold;
}
.contacts ul {
  list-style: none;
  padding: 0;
}
.contacts li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 8px;
}
.group-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.create-group {
  background-color: #3a3b3c;
  color: #e4e6eb;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}
/* End Left Sidebar */

/* Start Right Sidebar */
.right-sidebar {
  color: #e4e6eb;
  padding: 10px;
}
.right-sidebar .profile {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}
.right-sidebar .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.right-sidebar .profile p {
  margin: 0;
}
.right-sidebar .shortcuts ul li,
.right-sidebar .menu li {
  display: flex;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
}
.right-sidebar .shortcuts ul li i,
.right-sidebar .menu li i {
  margin-left: 8px;
}
.right-sidebar .shortcuts p {
  margin: 10px 0;
  font-weight: bold;
  border-top: 1px solid #444;
  padding-top: 10px;
}
.right-sidebar .feed-container {
  width: 500px;
  margin-top: 20px;
}
/* End Right Sidebar */

/* Start Main Content */
.main-content {
  width: 680px;
  margin: 0 auto;
}
.main-content .post {
  background-color: #242526;
  color: #e4e6eb;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.main-content .stories {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #242526;
  border-radius: 10px;
  margin-bottom: 20px;
}
.main-content .story {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}
.main-content .story img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #1877f2;
}
.main-content .story span {
  font-size: 12px;
  margin-top: 5px;
}
.main-content .create-post {
  background-color: #242526;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.main-content .create-post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.main-content .create-post-header .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.main-content .create-post-header input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #3a3b3c;
  color: #e4e6eb;
  font-size: 14px;
}
.main-content .create-post-actions {
  display: flex;
  justify-content: space-between;
}
.main-content .create-post-actions button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: #65676b;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.main-content .create-post-actions button:hover {
  color: #1877f2;
}
.main-content .create-post-actions button i {
  margin-right: 5px;
}
.main-content .post {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-content .post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content .post .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.main-content .post .post-info {
  flex-grow: 1;
}
.main-content .post .username {
  font-weight: bold;
  display: block;
}
.main-content .post .time {
  font-size: 12px;
  color: #65676b;
}
.main-content .post .post-content {
  margin-top: 10px;
}
.main-content .post .post-content p {
  margin: 0;
  font-size: 14px;
  color: #e4e6eb;
}
.main-content .post .post-image {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
.main-content .post .post-reactions {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #65676b;
  margin-top: 10px;
}
.main-content .post .post-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e4e6eb;
}
.main-content .post .post-actions button {
  background: none;
  border: none;
  color: #65676b;
  font-size: 14px;
  cursor: pointer;
}
.main-content .post .post-actions button:hover {
  color: #1877f2;
}
/* End Main Content */

/* Start Dropdowns */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 1;
  left: 5px;
  display: block;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
}
.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
}
.icon-container {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
.icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #4a4b4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon i {
  color: #ddd;
  font-size: 20px;
}
/* Start Account Dropdown */
.dropdown-menu .dropdown-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid #3a3b3c;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  gap: 5px;
}
.dropdown-menu .dropdown-header div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #3a3b3c;
  padding: 8px;
}
.dropdown-menu .dropdown-header div:hover {
  background-color: #3a3b3c;
  border-radius: 5px;
}
.dropdown-menu .dropdown-header button {
  width: 100%;
  background-color: #3a3b3c;
  color: #e4e6eb;
  border: none;
  border-radius: 5px;
  padding: 7px 0;
}
.dropdown-menu .dropdown-header img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.dropdown-menu .dropdown-header .name {
  font-size: 14px;
  font-weight: bold;
}
.dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  cursor: pointer;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #3a3b3c;
  border-radius: 5px;
}
.dropdown-menu .dropdown-item i {
  color: #e4e6eb;
}
.dropdown-menu .footer {
  margin-top: 10px;
  font-size: 10px;
  color: #b0b3b8;
  text-align: center;
}
/* Start Account Dropdown */

/* Start Notifications Dropdown */
.dropdown-menu .dropdown-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.dropdown-menu .dropdown-section {
  margin-bottom: 15px;
}
.dropdown-menu .dropdown-section .section-title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 0 0 10px;
}
.dropdown-menu .dropdown-section .section-title span {
  color: #4a90e2;
}
.dropdown-menu .notification-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.dropdown-menu .status-dot {
  width: 8px;
  height: 8px;
  background-color: #4a90e2;
  border-radius: 50%;
  margin-right: 5px;
}
.dropdown-menu .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.dropdown-menu .notification-content {
  flex-grow: 1;
}
.dropdown-menu .notification-content p {
  margin: 0;
  font-size: 14px;
  color: #ddd;
}
.dropdown-menu .time {
  font-size: 12px;
  color: #888;
}
.dropdown-menu .action-buttons {
  margin-top: 5px;
}
.dropdown-menu .confirm-btn,
.dropdown-menu .delete-btn {
  font-size: 12px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.dropdown-menu .confirm-btn {
  background-color: #4a90e2;
  color: #fff;
}
.dropdown-menu .delete-btn {
  background-color: #555;
  color: #ddd;
  margin-left: 5px;
}
.dropdown-menu .view-more-btn {
  background-color: #444;
  color: #ccc;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* End Notifications Dropdown */

/* Start Message Dropdown */
.dropdown-menu .search-bar {
  display: flex;
  margin-bottom: 10px;
}
.dropdown-menu .search-bar input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #444;
  color: #ccc;
}
.dropdown-menu .search-btn {
  background: none;
  border: none;
  color: #ccc;
  margin-left: -30px;
}
.dropdown-menu .tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.dropdown-menu .tab {
  font-size: 14px;
  color: #ddd;
  background-color: #444;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown-menu .tab.active {
  background-color: #4a90e2;
}
.dropdown-menu .chat-list {
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-menu .chat-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}
.dropdown-menu .chat-content {
  flex-grow: 1;
}
.dropdown-menu .user-name {
  font-size: 14px;
  color: #fff;
  margin: 0;
}
.dropdown-menu .message-preview {
  font-size: 12px;
  color: #888;
  margin: 2px 0 0;
}
.dropdown-menu h1 {
  margin: 10px;
}
.dropdown-menu .menu-left-section {
  flex: 1;
  background-color: #242526;
  padding: 10px;
  border-right: 1px solid #3a3b3c;
  border-radius: 10px;
  margin-right: 10px;
}
.dropdown-menu .menu-right-section {
  flex: 2;
  background-color: #242526;
  padding: 10px;
  border-right: 1px solid #3a3b3c;
  border-radius: 10px;
  margin-left: 10px;
}
.dropdown-menu .search-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #ccc;
}
.dropdown-menu .menu-section {
  margin-bottom: 15px;
}
.dropdown-menu .section-title {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
}
/* End Message Dropdown */

/* Start Menu Dropdown */
.dropdown-menu .menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu .menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  font-size: 14px;
  color: #ddd;
}
.dropdown-menu .menu-item i {
  margin-right: 10px;
  color: #aaa;
}
.dropdown-menu .menu-item:hover {
  color: #fff;
  background-color: #444;
  border-radius: 5px;
}
.dropdown-menu .dropdown-menu.active {
  display: block;
}
.width {
  width: 600px;
  height: 600px;
  overflow-y: scroll;
}
/* End Menu Dropdown */
@media only screen and (max-width: 1099px) {
  .right-sidebar {
    display: none;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .main-content {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .left-sidebar {
    display: none;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 10px;
  }
  .main-content {
    width: 100%;
  }
  .middle-section {
    display: none;
  }
  .right-section div {
    display: none;
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .width {
    width: 300px;
  }
  .menu-left-section {
    display: none;
  }
  .menu-right-section {
    flex: 1;
  }
}
